.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background: url('/img/bglogin.png');
}

.rotate-anti {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
    float: left;
    vertical-align:top;
}

.wrapper, .content {
    background: url('/img/bgbody.png');
}

.box .todo-list > li.private {
    margin-left: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.btn.btn-app > .badge {
  font-size: 13px;
}